<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tableau users</title>
</head>
<body>
    <table>
        
            <td>age</td>
            <td>firstname</td>
            <td>name</td>
        

        {% for user in users %}
            <tr>
                <td>{{user.age}}</td>
                <td>{{user.firstname}}</td>
                <td>{{user.name}}</td>
            </tr>
            
        {% endfor %}
    </table>
    
</body>
</html>