<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>{% block title %}default title{% endblock %}</title>
</head>
<body>
    header
    <hr>
        {% block corps %}
            default content
        {% endblock %}
    <hr>
    footer
</body>
</html>


{#  l'idée c'est que l'heritage est fixe et les blocks sont ce qu'on pourra modifié/personalisé ds les autres pages #}